<!DOCTYPE html>
<html>

<head>
  <title>Web Demo - Cloud Computing</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
  <header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="https://wallpaperaccess.com/full/4375265.png" width="90" height="80"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container text-center">
    <nav class="nav justify-content-start">
      <h1><a class="nav-link" href="/">Home</a></h1>
</div>
 
   <div class="dropdown">
  <button class="btn btn-primary btn-lg me-3 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Admin
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/lego">Lego</a></li>
    <li><a class="dropdown-item" href="/robot">Robot</a></li>
  </ul>
</div>
      
    <div class="dropdown">
  <button class="btn btn-primary btn-lg me-2 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Customer
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/lego/list">Lego</a></li>
    <li><a class="dropdown-item" href="/robot/list">Robot</a></li>
  </ul>
</div>
    </nav>
    </div>
  </div>
</nav>


  </header>

  {{!-- render ra body của từng webpage --}}
  {{{body}}}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>

</html>