<!DOCTYPE html>
<html>

<head>
  <title>Web Demo - Cloud Computing</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
  <header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="https://wallpaperaccess.com/full/4375265.png" width="90" height="80"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container text-center">
    <nav class="nav justify-content-start">
      <h1><a class="nav-link" href="/">Home</a></h1>
      <h1><a class="nav-link" href="/lego">Lego</a></h1>
      <h1><a class="nav-link" href="/robot">Robot</a></h1>
      <h1><a class="nav-link" href="/lego/list">Customer</a></h1>
      <h1><a class="nav-link" href="/robot/list">Customer</a></h1>
    </nav>
    </div>
  </div>
</nav>


  </header>

  {{!-- render ra body của từng webpage --}}
  {{{body}}}

</body>

</html>